<tr>
  <td><%= link_to critic.movie.title, critic.movie %></td>
  <td><%= critic.content %></td>
  <td><%= critic.score %></td>
  <td><%= link_to critic.user.username, critic.user %></td>
  <!-- <td><%= link_to 'Show', critic %></td>
  <td><%= link_to 'Edit', edit_critic_path(critic) %></td>
  <td><%= link_to 'Destroy', critic, :confirm => 'Are you sure?', :method => :delete %></td> -->
</tr>
