<tr>
<td><%= link_to(image_tag(critic.movie.photo.url(:small), :alt => critic.movie.title), critic.movie) -%></td>
<td align="center" valign="top"><% if critic.score %><div class="big_score"><%= critic.score %></div><% end %></td>
<td valign="top">
<strong><span style="font-size:20px"><%= link_to critic.movie.title, critic.movie %></span></strong> by <%= link_to critic.user.username, critic.user %><br>
<p><%= critic.content %></p>
<% if critic.user==current_user %><%= link_to "edit", edit_critic_path(critic, :return_to => 'critics') -%><% end %>
</td>
  <!-- <td><%= link_to 'Show', critic %></td>
  <td><%= link_to 'Edit', edit_critic_path(critic) %></td>
  <td><%= link_to 'Destroy', critic, :confirm => 'Are you sure?', :method => :delete %></td> -->
</tr>
