<h1>Listing critics</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Content</th>
    <th>Score</th>
    <th>User</th>

<!--     <th></th>
    <th></th>
    <th></th>
 -->  </tr>

<% @critics.each do |critic| %>
  <tr>
    <td><%= link_to critic.movie.title, critic.movie %></td>
    <td><%= critic.content %></td>
    <td><%= critic.score %></td>
    <td><%= link_to critic.user.username, critic.user %></td>
    <!-- <td><%= link_to 'Show', critic %></td>
    <td><%= link_to 'Edit', edit_critic_path(critic) %></td>
    <td><%= link_to 'Destroy', critic, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @critics %> 

<!-- <%= link_to 'New critic', new_critic_path %> -->
