<a target="_blank" href="http://www.google.com/images?q=<%= @movie.title.gsub('\s','+') -%>+%3F&um=1&hl=fr&tbs=isch:1,isz:m">Google Image</a>
<a target="_blank" href="http://www.bing.com/images/search?q=<%= @movie.title.gsub('\s','+') -%>&go=&form=QBLH&scope=images&filt=all">Bing Image</a>
<a target="_blank" href="http://www.imdb.com/find?s=all&q=<%= @movie.title.gsub('\s','+') -%>">Imdb</a>
<a target="_blank" href="http://www.youtube.com/results?search_query=<%= @movie.title.gsub('\s','+') -%>">Youtube</a>
<a target="_blank" href="https://www.freebase.com/search?limit=30&start=0&query=<%= @movie.title.gsub('\s','+') -%>">Freebase</a>