<% form_for(@movie, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

<div style="float:right">

	<div class="actions">
	  <%= f.submit %>
	</div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :plot %><br />
    <%= f.text_area :plot, :rows => 5 %>
  </div>

  <div class="field">
    <%= f.label :cast %><br />
    <%= f.text_area :cast, :rows => 5 %>
  </div>
<hr>

  <div>
    <%= f.label(:photo, 'Upload photo') %>
    <%= f.file_field(:photo) %>
  </div>
  <%- unless @movie.new_record? || !@movie.photo? -%>
    <div>
  		<%= f.label(:delete_photo, 'Delete photo') %>
  		<%= f.check_box(:delete_photo) %>
	<br>
      <%= image_tag(@movie.photo.url(:large), :alt => 'Photo', :title => 'Current photo') %>
    
    </div>
  <%- end -%>

</div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title , :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :alt_title %><br />
    <%= f.text_field :alt_title , :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.select :year, (1910..2015), :include_blank => TRUE %>
  </div>

  <div class="field">
    <%= f.label :origin %><br />
    <%= f.select :origin, ['','hdfrench','tehconnection','bt','other'] %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename , :size => 50 %>
  </div>

  <div class="field">
    <%= f.label :url_imdb %><br />
    <%= f.text_field :url_imdb , :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :imdb_score %><br />
    <%= f.text_field :imdb_score %>
  </div>
  <div class="field">
    <%= f.label :quality %><br />
    <%= f.select :quality, ['','720p','1080p','dvd','other'] %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.select :format, ['','mkv','avi','mov','mp4','other'] %>
  </div>

  <div class="field">
    <%= f.label :languages %><br />
    <%= f.text_field :languages %>
  </div>
  <div class="field">
    <%= f.label :subs %><br />
    <%= f.text_field :subs %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :username) %>
  </div>
  <div class="field">
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url %>
  </div>
  <div class="field">
    <%= f.label :embed_movie %><br />
    <%= f.text_area :embed_movie, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label :apple_url %><br />
    <%= f.text_field :apple_url %>
  </div>
  <div class="field">
    <%= f.label :amazon_url %><br />
    <%= f.text_field :amazon_url %>
  </div>
  <div class="field">
    <%= f.label :url_allocine %><br />
    <%= f.text_field :url_allocine %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
