  <tr>
	<td>
	<% if movie.photo_file_name %>
	<%= image_tag(movie.photo.url(:small), :alt => movie.title) %> 
	<% else %>
	add
	<% end %>
	</td>
    <td valign="top"><span><strong style="font-size:18px"><%= link_to movie.title, movie_path(movie), :style => (movie.deleted ? 'text-decoration: line-through' : '') %></strong></span>
	<br><%= movie.alt_title -%>
	<br><span class="small_genre"><%= movie.genre_list -%></span>
	</td>
	<td valign="top"><strong><%= number_with_precision(movie.average, :precision => 1) -%> / 20</strong>
	<br><%= movie.critics.size %> critic<br>
	<% if current_user.critic_on(movie) %>
	<%= image_tag "checked.png" -%>
	<% end %>
		</td>
    <td valign="top">
	<table border="0" cellpadding="0">
		<tr>
			<td>Quality:</td>
			<td><%= movie.quality %></td>
		</tr>
		<tr>
			<td>Format:</td>
			<td><%= movie.format -%></td>
		</tr>
		<tr>
			<td>Audio:</td>
			<td><%= movie.languages %></td>
		</tr>
		<tr>
			<td>Subs:</td>
			<td><%= movie.subs %></td>
		</tr>
	</table>
	
	</td>
    <td valign="top"><% if movie.director %>by <%= movie.director %><% end %>
	<% if movie.cast %>
	<br>
	with <%= movie.cast %>
	<% end %>
	</td>
	<td align="center" valign="top">
	<span style="font-size:30px">
	<% if movie.url_imdb && movie.imdb_score %>
	<%= link_to movie.imdb_score, movie.url_imdb %>
	<% else %>
	<%= movie.imdb_score -%>
	<% end %>
	</span> 
	</td>
    
<!--     <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
 -->  </tr>
