  <tr>
	<td>
	<% if movie.photo_file_name %>
	<%= image_tag(movie.photo.url(:small), :alt => movie.title) %> 
	<% else %>
	add
	<% end %>
	</td>
	<td valign="top">
	<b class="large"><%= movie.year -%></b>
	</td>

    <td valign="top">
	<span class="movie_title">
		<%= link_to movie.title, movie_path(movie), :style => (movie.deleted ? 'text-decoration: line-through' : '') %>
	</span>
	<% if movie.alt_title && movie.alt_title.size>0 %><br><%= movie.alt_title -%><% end %>
	<% if movie.director && movie.director.size>0 %><br><span class="small"><strong>by</strong> <%= movie.director %></span><% end %>
	<% if movie.cast && movie.cast.size>0%><br><span class="small"><strong>with</strong> <%= movie.cast %></span><% end %>
	<p>	<% if movie.genre_list && movie.genre_list.size>0 %><br><span class="small_genre"><%= movie.genre_list -%></span><% end %>
	</p>
	</td>
	<td valign="top" width="90">
		<% if movie.critics.size>0 %>
		<div class="big_score score"><%= number_with_precision(movie.average, :precision => 1) -%></div>
		<br><%= movie.critics.size %> critic<br>
			<% if current_user.critic_on(movie) %>
				<%= image_tag "checked.png" -%>
			<% end %>
		<% else %>
		<%= link_to 'add first critic', movie_path(movie) -%>
		<% end %>
		</td>
    <td valign="top">
		<table border="0" cellpadding="0">
			<tr>
				<td>Quality:</td>
				<td><%= movie.quality %></td>
			</tr>
			<tr>
				<td>Format:</td>
				<td><%= movie.format -%></td>
			</tr>
			<tr>
				<td>Audio:</td>
				<td><%= movie.languages %></td>
			</tr>
			<tr>
				<td>Subs:</td>
				<td><%= movie.subs %></td>
			</tr>
		</table>
	</td>
	
	<td width="80" align="center" valign="top">
	<% if movie.imdb_score %>
		<div class="big_score">
		<%= link_to movie.imdb_score, movie.url_imdb %>
		</div> 
	<% end %>
	</td>
    
<!--     <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
 -->  </tr>
