<table width="100%" border="1" cellspacing="0">
  <tr>
	<th></th>
    <th>Title</th>
    <th>Imdb</th>
    <th>Quality</th>
    <th>Languages</th>
    <th>Subs</th>
    <th>Cast</th>
    <th>Director</th>
    <th>Critics</th>
    <th>By</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
	<td>
	<% if movie.photo_file_name %>
	<%= image_tag(movie.photo.url(:xsmall), :alt => movie.title) %> 
	<% else %>
	
	<% end %>
	</td>
    <td><strong><%= link_to movie.title, movie_path(movie) %></strong></td>
    <td>
	<strong>
	<% if movie.url_imdb && movie.imdb_score %>
	<%= link_to movie.imdb_score, movie.url_imdb %>
	<% else %>
	<%= movie.imdb_score -%>
	<% end %></strong>
	</td>
    <td><%= movie.quality %></td>
    <td><%= movie.languages %></td>
    <td><%= movie.subs %></td>
    <td><%= movie.cast %></td>
    <td><%= movie.director %></td>
    <td><%= movie.critics.size %></td>
    <td><%= link_to(movie.user.username,movie.user) if movie.user %></td>
<!--     <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
 -->  </tr>
<% end %>
</table>

<%= will_paginate @movies %> 
