<div class="grid_10">
	<h1><%= @movie.tvserie ? 'Serie : ' : '' -%><%= @movie.title %> <% if @movie.year %>(<%= @movie.year %>)<% end %></h1>
</div>
<div class="grid_2">
	<% if current_user.superuser %>
	<%= link_to 'Edit this movie', edit_movie_path(@movie) %> <br>
	<% end %>
	<% if current_user.movies.include?(@movie) %>
	<%= link_to 'Remove from wishlist', remove_from_list_user_path(current_user, {:movie => @movie}) , :method => :post %>
	<% else %>
	<%= link_to 'Add to my wishlist', add_to_list_user_path(current_user, {:movie => @movie}) , :method => :post %>
	<% end %>
</div>

<div class="clear"></div> 

<div class="grid_6"> 
	<p> 
		<%- unless !@movie.photo? -%>
		<%= image_tag(@movie.photo.url(:large), :alt => 'Photo', :title => 'Current photo') %><br>
		<%- end -%>

		<b>Quality:</b>
		<%= @movie.quality %>
		<br>

		<b>Languages:</b>
		<%= @movie.languages %>
		<br>

		<b>Subs:</b>
		<%= @movie.subs %>
		<br>

		<b>Size:</b>
		<%= @movie.size %> Gb
		<br>

		<b>Format:</b>
		<%= @movie.format %>
		<br>
		<b>Origin</b><%= @movie.origin %>
<br>
		<b>Filename:</b>
		<% @movie.filename %> <% if @movie.deleted %>DELETED<% end %>

		<br>
		<b>Added by:</b>
		<%= link_to @movie.user.username, @movie.user %>
		<br>
		<br>
		<strong>In the wishlist of</strong> : <% for u in  @movie.users %><%= link_to u.username, user_path(u) -%><% end %> 

	</p> 
</div> 
<!-- end .grid_4 --> 
<div class="grid_6"> 
	<p> 
		<p>
			<em><%= @movie.alt_title %></em>
		</p>
<% if @movie.tvserie %>
		<p>
			<strong>Episodes</strong> : <%= @movie.episodes -%>
		</p>
<% end %>
		<p>
			<b>Imdb:</b>
			<% if @movie.url_imdb %>
			<%= link_to @movie.imdb_score, @movie.url_imdb %>
			<% else %>
			<%= @movie.imdb_score -%>
			<% end %>
		</p>
		
		<p>
			<strong>Genres</strong> : <%= @movie.genre_list -%>
		</p>

		<p>
			<b>Director:</b>
			<%= @movie.director %>
		</p>


		<p>
			<b>Cast:</b>
			<%= @movie.cast %>
		</p>

		<p>
			<b>Country:</b>
			<%= @movie.country %>
		</p>

		<p>
			<b>Origin:</b>

		</p>

		<p>
			<b>Body:</b>
			<%= @movie.body %>
		</p>

		<p>
			<b>Plot:</b>
			<%= @movie.plot %>
		</p>

<!-- 		<p>
			<b>Youtube url:</b>
			<%= @movie.youtube_url %>
		</p>

		<p>
			<b>Embed movie:</b>
			<%= @movie.embed_movie %>
		</p>

		<p>
			<b>Apple url:</b>
			<%= @movie.apple_url %>
		</p>

		<p>
			<b>Amazon url:</b>
			<%= @movie.amazon_url %>
		</p>

		<p>
			<b>Url allocine:</b>
			<%= @movie.url_allocine %>
		</p> -->
	</p> 

<%= render :partial => "assets_links" -%>

	<H3>Critics (<%= @movie.critics.size -%>)</h3>

		<% if current_user && !current_user.critic_on(@movie) %>
		<% @critic = Critic.new(:movie_id => @movie.id) %>
		<%= render :partial => '/critics/form' -%>
		<% end %>

		<% for c in @movie.critics %>
		by <strong><%= link_to c.user.username, c.user -%></strong> <% if c.score %><strong>(<%= c.score -%>/20)</strong><% end %>
		<% if c.user==current_user %><%= link_to "edit this critic", edit_critic_path(c) -%><% end %>
		<br>
		<%= c.content -%>
		<hr />
		<% end %>


</div>



	<div class="clear"></div> 