<div class="grid_10">
	<h1><%= @movie.tvserie ? 'Serie : ' : '' -%><%= @movie.title %> <% if @movie.year %>(<%= @movie.year %>)<% end %></h1>
</div>
<div class="grid_2">
	<%= link_to 'Edit this movie', edit_movie_path(@movie) %>
</div>

<div class="clear"></div> 

<div class="grid_5"> 
	<p> 
		<%- unless !@movie.photo? -%>
		<%= image_tag(@movie.photo.url(:large), :alt => 'Photo', :title => 'Current photo') %><br>
		<%- end -%>

		<b>Quality:</b>
		<%= @movie.quality %>
		<br>

		<b>Languages:</b>
		<%= @movie.languages %>
		<br>

		<b>Subs:</b>
		<%= @movie.subs %>
		<br>

		<b>Size:</b>
		<%= @movie.size %> Gb
		<br>

		<b>Format:</b>
		<%= @movie.format %>
		<br>

		<b>Filename:</b>
		<% @movie.filename %> <% if @movie.deleted %>DELETED<% end %>

		<br>
		<b>User:</b>
		<%= link_to @movie.user.username, @movie.user %>

	</p> 
</div> 
<!-- end .grid_4 --> 
<div class="grid_7"> 
	<p> 
		<p>
			<em><%= @movie.alt_title %></em>
		</p>

		<p>
			<strong>Episodes</strong> : <%= @movie.episodes -%>
		</p>

		<p>
			<b>imdb:</b>
			<% if @movie.url_imdb %>
			<%= link_to @movie.imdb_score, @movie.url_imdb %>
			<% else %>
			<%= @movie.imdb_score -%>
			<% end %>
		</p>

		<p>
			<b>Director:</b>
			<%= @movie.director %>
		</p>


		<p>
			<b>Cast:</b>
			<%= @movie.cast %>
		</p>

		<p>
			<b>Country:</b>
			<%= @movie.country %>
		</p>

		<p>
			<b>Origin:</b>
			<%= @movie.origin %>
		</p>

		<p>
			<b>Body:</b>
			<%= @movie.body %>
		</p>

		<p>
			<b>Plot:</b>
			<%= @movie.plot %>
		</p>

		<p>
			<b>Youtube url:</b>
			<%= @movie.youtube_url %>
		</p>

		<p>
			<b>Embed movie:</b>
			<%= @movie.embed_movie %>
		</p>

		<p>
			<b>Apple url:</b>
			<%= @movie.apple_url %>
		</p>

		<p>
			<b>Amazon url:</b>
			<%= @movie.amazon_url %>
		</p>

		<p>
			<b>Url allocine:</b>
			<%= @movie.url_allocine %>
		</p>
	</p> 

	<p>
		<a target="_blank" href="http://www.google.com/images?q=<%= @movie.title.gsub('\s','+') -%>+%3F&um=1&hl=fr&tbs=isch:1,isz:m">Search Google Image</a><br>
		<a target="_blank" href="http://www.bing.com/images/search?q=<%= @movie.title.gsub('\s','+') -%>&go=&form=QBLH&scope=images&filt=all">Search Bing Image</a><br>
		<a target="_blank" href="http://www.imdb.com/find?s=all&q=<%= @movie.title.gsub('\s','+') -%>">Search Imdb</a><br>
		<a target="_blank" href="http://www.youtube.com/results?search_query=<%= @movie.title.gsub('\s','+') -%>">Search Youtube</a>
	</p>

	<H3>Critics (<%= @movie.critics.size -%>)</h3>

		<% if current_user && !current_user.critic_on(@movie) %>
		<% @critic = Critic.new(:movie_id => @movie.id) %>
		<%= render :partial => '/critics/form' -%>
		<% end %>

		<% for c in @movie.critics %>
		by <strong><%= link_to c.user.username, c.user -%></strong> <% if c.score %><strong>(<%= c.score -%>/20)</strong><% end %><br>
		<%= c.content -%>
		<hr />
		<% end %>


</div>



	<div class="clear"></div> 