<h1>HD users</h1>

<table width="100%">
  <tr align="left">
    <th>Username</th>
    <th>Email</th>
	<th>Critics</th>
	<th>Average score</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %> <% if user.superuser %><% end %></td>
    <td><%= user.email %></td>
	<td><%= user.critics.size -%></td>
	<td><%= number_to_human user.average_score -%></td>
  </tr>
<% end %>
</table>

<br />
<% if current_user.superuser %>
<%= link_to 'New user', new_user_path %>
<% end %>
