<h2>
  <b>Username:</b>
  <%= @user.username %> (<%= @user.email %>)
</2>

<h2>Wants to see</h2>
<% for movie in @user.movies %>
<% if movie.photo_file_name %>
<a href="/movies/<%= movie.id -%>"><%= image_tag(movie.photo.url(:small), :alt => movie.title, :class => 'autopic') %> </a>
<% end %>
<% end %>


<h2>Last critics <a href="<%= critics_user_path(@user) -%>" class="small">see all</a></h2>

<% i=0 %>
<% for critic in @user.critics.order('created_at DESC').limit(20) %>
	<div class="grid_6" style="padding-bottom:20px">
	<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
	</div>
<% end %>
<div class="clear"></div> 

<% if current_user.superuser %>
<br>
<hr><br>
<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
<% end %> 

