<p>
  <b>Username:</b>
  <%= @user.username %> (<%= @user.email %>)
</p>


<h2>Wants to see</h2>

<table width="100%" border="1" cellspacing="0">
  <tr>
	<th></th>
    <th>Title</th>
    <th>Imdb</th>
    <th>Aver.</th>
    <th>Quality</th>
    <th>Languages</th>
    <th>Subs</th>
    <th>Cast</th>
    <th>Director</th>
    <th>Critics</th>
    <th>By</th>
  </tr>
<% for movie in @user.movies %>
<%= render :partial => '/movies/movie_tr', :locals => {:movie => movie} -%>
<% end %>
</table>



<h2>Critics</h2>

<table>
  <tr>
<% for critic in @user.critics.order('created_at DESC') %>
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
<% end %>
</table>




<% if current_user.superuser %>
<br>
<hr><br>
<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
<% end %> 

