<h2>
  <b>Username:</b>
  <%= @user.username %> (<%= @user.email %>)
</2>

<h2>Wants to see</h2>

<table>
<% for movie in @user.movies %>
<tr>
	<td><strong style="font-size:18px"><%= link_to movie.title, movie_path(movie), :style => (movie.deleted ? 'text-decoration: line-through' : '') %></strong></td>
	<td></td>
</tr>
<% end %>
</table>

<h2>Last critics <a href="<%= critics_user_path(@user) -%>" class="small">see all</a></h2>
<table>
  <tr>
<% for critic in @user.critics.order('created_at DESC').limit(10) %>
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
<% end %>
</table>

<% if current_user.superuser %>
<br>
<hr><br>
<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
<% end %> 

