<!DOCTYPE html>
<html>
<head>
<title><% if @movie %><%= @movie.title -%><% else %>HDMovies<% end %></title>
<%= stylesheet_link_tag 'movies','960' %>
<%= javascript_include_tag :defaults %>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<div class="container_12">
		<div class="grid_3"> 
			<div id="logo"><a href="/"><img src="/images/logo.png" alt="HDMovies" /></a></div>
		</div>
		<div class="grid_2">
			<form action="/movies" method="GET"><input name="s" type="search" id="s" size="18" placeholder="Search"  data-autocomplete="movies/autocomplete_movie_title"></form>
			<div id="menu3" class="" style="">
				&nbsp;
				<a href="https://twitter.com/<%= TwitterAccount -%>" title="Twitter" target="_blank"><%= image_tag "twitter.png" -%></a>
				<a href="/movies.rss" id="rss" target="_blank"  title="Movies RSS"><%= image_tag "rss.png" -%></a> 
				<a href="/critics.rss" id="rss" target="_blank" title="Critics RSS"><%= image_tag "crss.png" -%></a> 
			</div>
		</div>
		<div class="grid_7">
		<%= render :partial => '/layouts/rightmenu' -%>
		<div class="clear"></div> 
		<div class="grid_12">
			<% if notice %>
			<p class="notice"><%= notice %></p>
			<% end %>
		</div>
		<div class="container_12">
			<hr>
		</div>
	<%= yield %>
	<div class="container_12">
		<hr>
		<p>
			iesta/sucrenoir : <a href="http://twitter.com/sucrenoir">Twitter</a> | <a href="http://ordiman.tumblr.com">Tumblr</a> | <a href="https://github.com/iesta">On Github</a>
		</p>
		
	</div>
</div>
</body>
</html>