<!DOCTYPE html>
<html>
<head>
<title>Movies: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'movies','960' %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<style type="text/css" media="screen">
	#logo a:hover{text-decoration:none;}
	#menu>a {padding:5px;}
</style>
</head>
<body>
<div id="container">
	<div class="container_12">
		<div class="grid_3"> 
			<div id="logo"><a href="/"><img src="/images/logo.png" alt="HDMovies" /></a></div>
		</div>
		<div class="grid_2">
			<form action="/movies" method="GET"><input name="s" type="search"></form>
		</div>
		<div class="grid_7">
		<div id="menu" style="float:right">
			<% if current_user.superuser %>
					<a href="/movies/new" id="new">Add movie</a> 
					<a href="/users" id="new">Users</a> 
			<% end %>
					<a href="/movies" id="list">Movies</a>
					<a href="/movies/?m=series" id="list">Series</a>
					<a href="/movies_grid" id="new">Mosaic</a> 
					<a href="/critics" id="list">Critics</a>
					<a href="/stats" id="list">Stats</a>
					&nbsp;
					|
					&nbsp;
					<% if current_user %>
					    <%= link_to current_user.username , user_path(current_user.id) %> 
					    <%= link_to "Out", logout_path %>
					  <% else %>
<!-- 				    <%= link_to "Register", new_user_path %>  -->
					    <%= link_to "Login", login_path %>
					  <% end %>
				</div>
		</div>
		<div class="clear"></div> 
		<div class="grid_12">
			<% if notice %>
			<p class="notice"><%= notice %></p>
			<% end %>
		</div>
	<%= yield %>
</div>
</body>
</html>
